# LinkedIn job search API (RapidAPI)
RAPIDAPI_KEY=99b5aa06b7msh6c0778fe6c1ab1cp1e4e49jsnf87fb391807f

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
